body {
  @include font-body;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 300;
  width: 1200px;
  margin: 0 auto;
  transition: 0.3s all linear;
  color: $color-body;
}

.breadcrumbs {
  @include list-unstyled;
  @include flex;
  li {
    margin-right: $pad / 2;
    &::after {
      content: '//';
      display: inline-block;
      padding-left: $pad / 2;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.btn-bar {
  @include flex;
  & > * {
    margin-left: $pad;
  }
}

.control-bar {
  @include flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: $baseline * 2;
  h2, h3, h4 {
    flex: 1;
    text-align: left;
    margin-bottom: 0;
    &::after {
      display: none;
    }
  }
}

.firebaseui-card-content {
  .firebaseui-list-item {
    margin-left: auto;
    margin-right: auto;
    img {
      border: none;
    }
  }
  .firebaseui-idp-text-short {
    display: none;
  }
}

footer {
  text-align: center;
}

header {
  padding-top: 24px;
  position: relative;
  .link--logout {
    position: absolute;
    top: 10px;
    right: $pad;
  }
}

hr {
  border: none;
  border-bottom: 1px solid $color-border;
}

html {
  font-size: 10px;
}

img {
  display: block;
  @include bbox;
  max-width: 100%;
  border: 1px solid $color-border;
  padding: $pad/2 - 1;

  &.plain {
    border: none;
    padding: 0;
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

main {
  margin-top: 38px;
}

.page--login {
  form {
    & > ul,
    .field-list {
      & > li {
        justify-content: center;
      }
    }
  }
}

.submission-table {
  width: 100%;
}

.widget {
  .widgettitle {
    display: none;
  }
}

@include media-large {
  body {
    width: 1600px;
    display: flex;
    flex-flow: row wrap;
  }

  header {
    width: $g2-large;
  }

  main {
    margin-top: 38px;
    width: 100%;
  }
}

@include media-tab {
  body {
    width: 742px;
  }
  main {
    margin-top: 38px;
  }
}

@include media-phone {
  body {
    width: 100%;
  }

  header {
    padding-top: 24px;
  }

  main {
    margin-top: 38px;
  }
}
