@mixin field() {
  @include reset;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px 8px;
  @include bbox;
  min-height: $baseline * 3;
  font: $font;
  font-size: 1.6rem;
  line-height: $baseline * 2;
  width: 100%;
}

.field__controls {
  flex: 1;
}

.field__label {
  @include bbox;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: $baseline * 2;
  padding-right: $pad;
  width: 200px;
  text-align: right;
  padding: 6px $pad 4px;
}

form {
  & > ul {
    @include list-unstyled;
    & > li {
      @include flex;
      align-items: flex-start;
      max-width: 960px;
      margin-bottom: $baseline;
    }
  }
}

input[type="text"] {
  @include field;
}

textarea {
  @include field;
  min-height: $baseline * 10;
}
