footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: 1px solid $color-border;
  margin: 40px auto;

  .cm-pro {
    width: $g3;
    min-height: $g3;
    background: left top no-repeat url("http://www.clickinmoms.com/amember/file/get/path/banners.56f54cba9bc77/i/47588");
    background-size: 100%;
    margin: 0 $pad;
    text-indent: -9999px;
  }

  .links {
    width: $g3;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-left: 0;

    li {
      margin: 0 10px;

      &::before {
        display: none!important;
      }
    }

    img {
      border: none;
      padding: 0;
    }
  }

  .footmatter {
    @include bbox;
    width: $g2;
  }
}

.footer-spot-widgets {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;

  & > li {
    &::before {
      display: none;
    }

    &:nth-child(1) {
      width: $g1;
    }

    &:nth-child(2) {
      width: auto;
    }

    &:nth-child(3) {
      width: $g2;
    }
  }

  .widget {
    .nf-before-form-content {
      display: none;
    }

    nf-fields-wrap {
      display: flex;
      flex-flow: row wrap;
    }

    .nf-field-container {
      margin-bottom: 0;
    }

    .nf-field-label {
      display: none;
    }

    .nf-form-cont {
      width: 100%;
    }

    .nf-form-title {
      display: none;
    }

    .email-container {
      width: $g2 - 6px;
      margin-right: 12px;
    }

    .submit-container {
      width: $g3 - 6px;

      .field-wrap input[type="submit"],
      .field-wrap input[type="button"],
      .field-wrap button {
        @include button($color-primary);
        width: 100%;
      }
    }
  }
}

@include media-large {
  footer {
    width: 100%;
  }

  .footer-spot-widgets {
    width: 100%;

    & > li {
      &:nth-child(1) {
        width: $g1-large;
      }

      &:nth-child(2) {
        width: auto;
      }

      &:nth-child(3) {
        width: $g2-large;
      }
    }

    .widget {
      .nf-form-cont {
        margin-left: 0;
      }

      .email-container {
        width: $g2-large - 6px;
      }

      .submit-container {
        width: $g3-large - 6px;
      }
    }
  }
}

@include media-tab {
  footer {
    .footmatter {
      width: $g2-tab;
    }

    .cm-pro {
      width: $g3-tab;
      min-height: $g3-tab;
      margin: 0 $pad;
    }
  }

  .footer-spot-widgets {
    width: 100%;

    & > li {
      &:nth-child(1) {
        width: $g1-tab;
      }

      &:nth-child(2) {
        width: auto;
      }

      &:nth-child(3) {
        width: $g2-tab;
      }
    }
  }
}

@include media-phone {
  footer {
    .cm-pro {
      margin: 0 $pad;
      width: $g3;
      min-height: $g3;
      margin: $pad;
    }
  }

  .footer-spot-widgets {
    flex-flow: row wrap;
    width: 100%;

    & > li {
      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2) {
        width: 100%;
      }

      &:nth-child(3) {
        width: 100%;
      }
    }
  }
}
