@import 'fontawesome/variables';

button,
input[type="submit"] {
  @include button;
}

.control-list {
  @include list-unstyled;
  margin-bottom: 0;
}

.field {
  margin-bottom: $baseline;
  border-top: 1px solid $color-border;
  padding-top: 6px;
  @include flex;
}

.field__controls {
  padding-top: 5px;
  flex: 1;
  position: relative;
}

.field__description {
  padding-top: 5px;
}

.field__group-heading {
  width: 100%;
}

.field__helpText {
  font-size: 1.3rem;
}

.field__label {
  @include bbox;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: $baseline * 2;
  padding-right: $pad;
  width: 200px;
  text-align: right;
  padding: 11px $pad 4px;
}

.field__value {
  flex: 1;
  font-style: italic;
  border-left: 1px solid $color-border;
  padding-left: $pad - 1px;
}

.field-editor {
  width: 100%;
}

.field-item {
  border-top: 1px solid $color-border;
  padding-top: $baseline;
}

.field-list {
  margin-bottom: 0;
  @include flex;
  flex-flow: row wrap;
  & > li {
    width: 100%;
    &.field--half {
      width: 50%;
    }
    &.field--labelField {
      width: 58%;
    }
    &.field--aliasField {
      width: 42%;
      .field__label {
        width: auto;
        padding-left: $pad * 2;
      }
    }
    &.push--half {
      margin-left: 50%;
    }
  }
}

.field-list--options-addon {
  position: relative;
  top: -4 * $baseline;
  margin-bottom: -4 * $baseline;
}

form {
  margin-bottom: $baseline * 6;
  & > ul,
  .field-list {
    @include list-unstyled;
    & > li {
      @include flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      max-width: 960px;
      margin-bottom: $baseline;
      position: relative;
      .field-list {
        width: 100%;
      }
    }
  }
}

.form__instructions {
  margin-bottom: $baseline * 3;
}

.form__actions {
  margin-left: 200px;
  & > * {
    margin-right: $pad;
  }
}

.form__actions--sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: $baseline $pad $baseline * 4;
  margin: 0;
  text-align: center;
  border-top: 1px solid $color-border;
}

.form-list {
  @include list-unstyled;
  li {
    cursor: pointer;
  }
}

input,
textarea {
  font-size: 1.4rem;
  line-height: 2.4rem;
  @include font-body;
  color: $color-body;
  padding: 11px 6px;
  margin-right: 12px;
  border: 1px solid $color-border;
}

input[type="text"] {
  @include field;
}

input[type="radio"] {
    @include input-toggle;

    & + label::before {
        @include far;
        content: fa-content($fa-var-circle);
    }

    & + label::after {
        @include fas;
        content: fa-content($fa-var-dot-circle);
        color: $color-accent;
    }
}

input[type="checkbox"] {
    @include input-toggle;

    & + label::before {
        @include far;
        content: fa-content($fa-var-square);
    }

    & + label::after {
        @include fas;
        content: fa-content($fa-var-check-square);
        color: $color-accent;
    }
}

.option-item {
  @include flex;
  align-items: center;
  margin-bottom: $baseline;
  button {
    margin-left: $pad / 2;
  }
}

.submission__field-list {
  @include list-unstyled;
  li {
    cursor: pointer;
  }
  .field {
    border-top: none;
  }
}

textarea {
  @include field;
  min-height: $baseline * 10;
  padding-top: 5px;
}
