@mixin bbox() {
    box-sizing: border-box;
}
@mixin before-note($msg) {
    &::before {
        display: block;
        content:$msg;
        text-transform: uppercase;
        color:$color-border;
    }
}
@mixin button() {
    display: inline-block;
    @include font-heading;
    font-size:1.4rem;
    line-height:2.4rem;
    font-weight:600;
    padding:12px 16px;
    border:1px solid transparent;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s linear;
    @include button-color;
}
@mixin button-color($color: $color-primary) {
  color:$color;
  border-color: $color;
  background-color: white;
  &:hover {
    color:white;
    background-color:$color;
  }
}
@mixin center() {
  margin-left:auto;
  margin-right:auto;
}
@mixin col-pad($pad-l: $pad, $pad-r: $pad) {
  padding-left: $pad-l;
  padding-right: $pad-r;
}
@mixin field() {
  @include reset;
  border: 1px solid $color-border;
  padding: 3px 8px;
  @include bbox;
  min-height: $baseline * 3;
  @include font-body;
  font-size: 1.6rem;
  line-height: $baseline * 2;
  width: 100%;
}
@mixin fill-pad($margin-l: -1 * $pad, $margin-r: -1 * $pad) {
  margin-left: $margin-l;
  margin-right: $margin-r;
}
@mixin flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
@mixin flex-box() {
    @include bbox;
    padding:$pad/2 $pad;
}
@mixin flex-tile {
    @include flex;
    flex-flow:row wrap;
}
@mixin font-body() {
    font-family: 'Roboto Slab', serif;
}
@mixin font-heading() {
    font-family: 'Open Sans', sans-serif;
}
@mixin font-accent() {
    font-family: 'Open Sans Condensed', sans-serif;
}
@mixin input-toggle() {
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    & + label {
        position: relative;
        cursor: pointer;
        text-align: left;
        display: block;
        width: auto;
        padding: 5px 0 0 $pad;

        &::before {
            @include input-toggle-pseudo-el;
        }

        &::after {
            @include input-toggle-pseudo-el;
            opacity: 0;
        }
    }

    &:checked + label::after {
        opacity: 1;
    }
}
@mixin input-toggle-pseudo-el() {
    @include bbox;
    display: block;
    width: 20px;
    height: 20px;
    transition: 0.1s all linear;
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: left;
    font-size: $size-icon;
}
@mixin last-child() {
    &:last-child { margin-bottom:0; }
}
@mixin list-unstyled() {
  margin-left: 0;
  list-style: none;
  & > li {
    @include no-bullet();
  }
}
@mixin media-large() {
  @include media-min(1600px) {
    @content;
  }
}
@mixin media-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin media-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
@mixin media-phone() {
  @include media-max(768px) {
    @content;
  }
}
@mixin media-tab() {
  @include media-max(1200px) {
    @content;
  }
}
@mixin no-bullet() {
  list-style: none;
  &::before {
    display: none;
  }
}
@mixin photo-box-setup() {
    img {
        padding:0;
        border:none;
        max-height:100%;
    }
    border:1px solid #dfdfdf;
    position: relative;
    overflow:hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:$g1;
	  margin-bottom: 24px;
    &::before {
        display: block;
        content: "";
        border: 10px solid white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transform: rotate(0deg);
    }
}
@mixin reset() {
  margin: 0;
  padding: 0;
}
@mixin rule() {
  padding-left:$pad - 1;
  padding-right:$pad - 1;
  border-left:1px solid $color-border;
  border-right:1px solid $color-border;
}
@mixin rule-right() {
  padding-right:$pad - 1;
  border-right:1px solid $color-border;
  &.half-pad-right {
      padding-right:$pad/2 - 1;
  }
}
@mixin rule-left() {
  padding-left:$pad - 1;
  border-left:1px solid $color-border;
  &.half-pad-left {
      padding-left:$pad/2 - 1;
  }
}
@mixin text-spacing() {
  @include reset();
  margin-bottom: $baseline;
}

@mixin fa-base() {
    // From fontawesome _core
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
@mixin fa() {
    @include fa-base;
    // From fontawesome fa-solid
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
@mixin far() {
    @include fa-base;
    // From fontawesome fa-regular
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}
@mixin fas() {
    @include fa-base;
    // From fontawesome fa-solid
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
@mixin fab() {
    @include fa-base;
    // From fontawesome fa-brands
    font-family: 'Font Awesome 5 Brands';
}
