.photo-box {
  @include photo-box-setup;

  &.tall {
    height: 558px;
  }

  &.short {
    height: 400px;
  }
}

.photo-frame {
  @include photo-box-setup;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;

  img {
    margin-right: 12px;
    display: block;

    &:last-of-type {
      margin-right: 0;
    }
  }

  br {
    display: none;
  }

  &.col-1-2-1 {
    & > img:nth-of-type(1),
    & > img:nth-of-type(3) {
      width: 458/1200 * 100%;
    }

    & > img:nth-of-type(2) {
      width: 284/1200 * 100%;
    }
  }
  &.col-2-1-2 {
    & > img:nth-of-type(1),
    & > img:nth-of-type(3) {
      width: 435/1600 * 100%;
    }

    & > img:nth-of-type(2) {
      width: 705/1600 * 100%;
    }
  }
}
