.portfolio-list {
  @include flex-tile;
  margin-left: 0;

  li {
    @include photo-box-setup;

    &:nth-child(2n-1) {
      margin-right: 24px;
    }

    &:nth-child(2n-1) {
      margin-right: 24px;
    }

    &.box-g0 {
      width: $g0 - 24;
    }

    &.box-g1 {
      width: $g1 - 24;
    }

    &.box-h0 {
      width: $h0 - 24;
    }

    &.tall {
      height: 548px;
    }

    &.short {
      height: 386px;
    }
  }

  @include media-large {
    width: $g0-large + $h2-large;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-tab {
    li {
      height: $g1-tab;

      &.box-g0 {
        width: $g0-tab - 12;
      }

      &.box-g1 {
        width: $g1-tab - 12;
      }

      &.box-h0 {
        width: $h0-tab - 12;
      }

      &.tall {
        height: 340px;
      }

      &.short {
        height: 240px;
      }
    }
  }

  @include media-phone {
    li {
      height: $g1-phone;
      margin-bottom: 12px;
      height: 140px;

      &:nth-child(2n-1) {
        margin-right: 0;
        border-right: none;
      }

      &.box-g0 {
        width: $g0-phone;
      }

      &.box-g1 {
        width: $g1-phone;
      }

      &.box-h0 {
        width: $h0-phone;
      }

      &.tall {
        height: 180px;
      }

      &.short {
        height: 130px;
      }

      &::before {
        border-width: 6px;
      }
    }
  }
}
