.dashboard {
  @include flex;
}
.dashboard__recent-submissions {
  width: 2/3 * 100%;
}
.dashboard__forms {
  width: 1/3 * 100%;
}
.form-list {
  @include list-unstyled;
  li {
    cursor: pointer;
  }
}
.submission__field-list {
  @include list-unstyled;
  li {
    @include flex;
  }
}
.field__value {
  flex: 1;
}
