@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300,300i,600,600i,700,700i|Roboto+Slab:300,700');

$color-body:         fade-out(#555555, 0.3);
$color-border:       fade-out(#979797, 0.7);
$color-accent:       #B7DFD5;
$color-primary:      #B0C6DC;
$color-primary-dark: #133457;
$color-danger:       #FFB2AB;
$color-caution:      #FFDCAB;
$color-info:         #C18ED4;

$g0: 742px;
$h0: 600px;
$g1: 458px;
$g2: 284px;
$g3: 174px;
$h2: 142px;
$g2h: $g2 + $h2;

$pad: 24px;

$g0-phone: 62%;
$h0-phone: 50%;
$g1-phone: 38%;

$g0-tab: 458px;
$h0-tab: 371px;
$g1-tab: 284px;
$g2-tab: 174px;
$g3-tab: 110px;
$h2-tab: $g2-tab / 2;
$g2h-tab: $g2-tab + $h2-tab;

$g0-large: 988px;
$h0-large: 800px;
$g1-large: 612px;
$g2-large: 378px;
$g3-large: 234px;
$h2-large: $g2-large/2;
$g2h-large: $g2-large+$h2-large; 
